body {
    background-color: #eaeaea;
    font-family: sans-serif;
    font: verdana;
}

.wrapper {
    margin: 0 auto;
    height: auto;
    align-content: center;
}

p {
    font-size: 12px;
    color: #000000;
}

.error {
    color: #e35a5a;
    font-size: 14px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #777777;
    padding-left: 50px;
}

h2 {
    font-size: 16px;
    color: #777777;
}

h3 {
    font-size: 50px;
    color: #ffffff;
    margin-top: -1px;
    margin-left: 60px;
}

#header {
    height: 50px;
    width: 100%;
    background-color: #e35a5a;
    top: 0;
    position: fixed;
}

#footer {
    height: 50px;
    width: 100%;
    background-color: #cbcbcb;
    bottom: 0;
    clear: both;
    margin-top: 50px;
}

#box {
    width: 600px;
    height: auto;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: left;
    }

#smallbox {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: left;
    padding-left: 50px;
}

#smallbox p {
    color: #e35a5a;
    font-size: 14px;
    font-weight: bold;
}

form {
    padding-top: 10px;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 30px;
}

.formExample {
    color: #000000;
    border: 1px solid #eaeaea;
    background-color: #eaeaea;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    
}

.buttonExample {
    color: #ffffff;
    border: 1px solid #e35a5a;
    font-weight: bold;
    font-size: 20px;
    background-color: #e35a5a;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    -webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    -o-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
}

.buttonExample:hover {
    color: #e35a5a;
    border: 1px solid #FFFFFF;
    font-weight: bold;
    background-color: #FFFFFF;
    width: 140px;
    height: 40px;
    -webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    -o-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
}